using colab

In [0]:
import tweepy
import csv
import pandas as pd

In [0]:
consumer_key = "eFS9rnguglXUJf4odfy8agbxq"
consumer_secret = "iQ3IVN53VyIludtM3neTbwKGMrts4CpgduXTYbrTEbQbt070Hl"
access_key = "910152560576626689-LFbddF6Uh4NyTsaf6jTq3UppGtQkLs7"
access_secret = "9emRz8tiZkx4TGZDDh95s9vSojmIMADlIl9I97m7tIJjP"

In [0]:
# Authorization to consumer key and consumer secret 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
  
# Access to user's access key and access secret 
auth.set_access_token(access_key, access_secret)

In [0]:
csvFile = open('result.csv', 'a')

In [0]:
csvWriter = csv.writer(csvFile)

using user_timeline() to get the tweets from @midasIIITD. Unable to download json using jupyter notebook so directly used the tweet json object to extract the required information for each tweet. Twitter has limit of 3200 tweets. doing it for 200 tweets so it took less time.

In [0]:
api = tweepy.API(auth)

# The Twitter user who we want to get tweets from
name = "midasIIITD"
# Number of tweets to pull
tweetCount = 200

# Calling the user_timeline function with our parameters
results = api.user_timeline(id=name, count=tweetCount)

# foreach through all tweets pulled
for tweet in results:
   # printing the text stored inside the tweet object
    try:
      img= True in [medium['type'] == 'photo' for medium in tweet.entities['media']]
    except:
      img="None"
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8'),tweet.retweet_count,tweet.favorite_count,img])

wrote the tweets to csv and now converting it to dataframe to display in tabular form

In [8]:
import pandas as pd 
data = pd.read_csv("result.csv",names = ["Date and Time", "Text", "Retweet Count", "Like Count","Image checker"]) 
data.head()

,Date and Time,Text,Retweet Count,Like Count,Image checker
0,2019-04-07 14:17:29,"b'@himanchalchandr Meanwhile, complete CV/NLP ...",0,0,None
1,2019-04-07 14:17:09,b'@sayangdipto123 Submit as per the guideline ...,0,0,None
2,2019-04-07 11:43:24,b'We request all students whose interview are ...,1,0,None
3,2019-04-07 06:55:19,"b'Other queries: ""none of the Tweeter Apis giv...",2,3,None
4,2019-04-07 06:53:38,"b'Other queries: ""do we have to make two diffe...",1,4,None